{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>Your Total Score</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        h1, h2 {
            font-family: Verdana;
        }
        .card-body > * {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    </style>
    <body>
        <div style="padding:10px; position-absolute top-0 start-50 translate-middle-x">
            <h1 style="font-family: Verdana; margin-bottom: 0.5rem">
              Guess the Meaning of the {{ questionnaire_selection }} Characters
            </h1>
        </div>
        <input type="hidden" id="guess-values-count" name="fieldname" value="{{ guess_list_count }}">
        {% for data in guess_list %}
            <input type="hidden" class="guess-values" name="fieldname" value="{{ data }}">
        {% endfor %}
        {% for data in correct_reading_answers_list %}
            <input type="hidden" class="correct-reading-answer-values" name="fieldname" value="{{ data }}">
        {% endfor %}
        {% for data in correct_meaning_answers_list %}
            <input type="hidden" class="correct-meaning-answer-values" name="fieldname" value="{{ data }}">
        {% endfor %}
            <div class="card position-absolute top-50 start-50 translate-middle" style="width: 30rem;text-align:center;">          
                <div class="card-body">
                    <h2 id="isCorrectBadge"><span class="badge bg-success">Correct!</h2>
                    <h2 id="isWrongBadge"><span class="badge bg-danger">Incorrect</h2>
                    <div class="progress">
                        <div id="progress-bar" class="progress-bar bg-secondary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="110"></div>
                    </div>
                    <h1 id="character-field"></h1>
                    <input class="form-control" list="datalistOptions" id="answer-field1" placeholder="Reading Answer" value="" required>
                    <input class="form-control" list="datalistOptions" id="answer-field2" placeholder="Meaning Answer" value="" required>
                    <button id="play-again-btn" type="button" class="btn btn-dark" onclick="playAgain()">Play Again</button> 
                    <button id="submit-answers-btn" type="button" class="btn btn-dark" onclick="handleSubmitAnswer()">Submit Answer</button> 
                </div>
            </div>
        <script>
            let questionCounter = 0;
            let guessValues = [];
            let guessValuesCount = document.getElementById("guess-values-count").value;
            let correctReadingAnswerValues = [];
            let correctMeaningAnswerValues = [];
            let answersList1 = [];
            let answersList2 = [];
            const characterValue = document.getElementById("character-field");

            let currAnswerValue1 = document.getElementById("answer-field1").value;
            const answerField1 = document.getElementById("answer-field1");

            let currAnswerValue2 = document.getElementById("answer-field2").value;
            const answerField2 = document.getElementById("answer-field2");

            const progressBar = document.getElementById("progress-bar");
            const submitAnswersButton = document.getElementById("submit-answers-btn");
            const playAgainButton = document.getElementById("play-again-btn");

            let isCorrectBadge = document.getElementById("isCorrectBadge");
            let isWrongBadge = document.getElementById("isWrongBadge");

            let progressValue = 0;
            let score = 0;

            document.addEventListener('DOMContentLoaded', function() {
                var submitButton = document.getElementById('submit-answers-btn');
                var textInput1 = document.getElementById('answer-field1');
                var textInput2 = document.getElementById('answer-field2');
            
                function handleKeyPress(event) {
                    if (event.keyCode === 13) {
                        submitButton.click();
                    }
                }
            
                textInput1.addEventListener('keydown', handleKeyPress);
                textInput2.addEventListener('keydown', handleKeyPress);
            });
            
            window.onload = () => {
                let guessCharacters = document.getElementsByClassName("guess-values");
                let correctReadingAnswers = document.getElementsByClassName("correct-reading-answer-values");
                let correctMeaningAnswers = document.getElementsByClassName("correct-meaning-answer-values");

                isCorrectBadge.style.display = "none";
                isWrongBadge.style.display = "none";
                playAgainButton.style.display = "none";

                for (let guessVal of guessCharacters) {
                    guessValues.push(guessVal.value);
                }

                for (let correctAnswerVal of correctReadingAnswers) {
                    correctReadingAnswerValues.push(correctAnswerVal.value)
                }

                for (let correctAnswerVal of correctMeaningAnswers) {
                    correctMeaningAnswerValues.push(correctAnswerVal.value)
                }

                console.log(guessValues);
                console.log(correctReadingAnswerValues);
                console.log(correctMeaningAnswerValues);
                progressBar.innerText = progressValue + '%';
                characterValue.innerText = guessValues[questionCounter]
            };

            const handleSubmitAnswer = () => {
                if (submitAnswersButton.innerText == "Review Kanji Definition") {
                    window.location.href = "/kanji_list";
                }

                if (questionCounter == Number(guessValuesCount) - 1) {
                    submitAnswersButton.innerText = "Review Kanji Definition";
                    answerField1.style.display = "none";
                    answerField2.style.display = "none";
                    playAgainButton.style.display = "";
                }

                if (questionCounter < Number(guessValuesCount)) {
                    questionCounter++;
                    
                    currAnswerValue1 = document.getElementById("answer-field1").value;
                    currAnswerValue2 = document.getElementById("answer-field2").value;
                    answersList1.push(currAnswerValue1);
                    answersList2.push(currAnswerValue2);

                    evaluateAnswer(currAnswerValue1, currAnswerValue2);

                    progressValue += (1 / Number(guessValuesCount)) * 100;
                    progressBar.style.width = progressValue + '%';
                    progressBar.setAttribute('aria-valuenow', progressValue);
                    progressBar.innerText = progressValue + '%';
                    
                    console.log(score);
                    document.getElementById("answer-field1").value = "";
                    document.getElementById("answer-field2").value = "";
                    characterValue.innerText = questionCounter < Number(guessValuesCount) ? guessValues[questionCounter] : `${score}/${guessValues.length}`;
                }
                console.log(answersList1)
                console.log(answersList2)
               
            }

            const evaluateAnswer = (readingAnswer, meaningAnswer) => {
                console.log(readingAnswer);
                console.log(meaningAnswer);
                console.log(correctReadingAnswerValues[questionCounter])
                if (readingAnswer.toLowerCase() === correctReadingAnswerValues[questionCounter-1]
                    && meaningAnswer.toLowerCase() === correctMeaningAnswerValues[questionCounter-1]) {
                    score++;
                    isCorrectBadge.style.display = '';
                    isWrongBadge.style.display = 'none'; 
                } else {
                    isCorrectBadge.style.display = 'none'; 
                    isWrongBadge.style.display = ''; 
                }
            }

            const playAgain = () => {
                window.location.reload();
            }
        </script>
    </body>
</html>
{% endblock %}
