{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div style="padding:10px; position-absolute top-0 start-50 translate-middle-x">
            <h1 style="font-family:Verdana;margin-bottom:0.5rem;">Welcome to the Japanese Vocabulary Quiz Portal</h1>
        </div>
        <div style="padding:10px; position-absolute top-0 start-50 translate-middle-x">
            <h4 style="font-family:Lucida Console;">Go to <span style="font-weight:bold;">Kanji Definitions Table</span> to review the kanji words</h4>
            <h4 style="font-family:Lucida Console;">Go to <span style="font-weight:bold;">Hiragana Definitions Table</span> to review the hiragana words</h4>
        </div>
    </body>
</html>
{% endblock %}