{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Katakana Quiz</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1 style="font-family: monospace, Monaco;padding:10px;">Define the Following Katakana Characters: </h1>
        <form method="POST" action="{% url 'katakana_submit_answers' %}">
            <div style="margin-top:2rem;" class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Name: </span>
                            <input type="text" name="name_value" class="form-control" placeholder="Name of the quiz taker" aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h4>Katakana: </h4>
                    </div>
                    <div class="col-sm">
                        <h4>Romaji Reading: </h4>
                    </div>
                    <div class="col-sm">
                        <h4>Meaning: </h4>
                    </div>
                </div>
                {% for katakana in randomize_katakana_list %}
                    {% csrf_token %} 
                    <div style="margin-top:0.5rem;" class="row">
                        <div class="col-sm">
                            <input type="text" readonly style="font-family:Lucida Console, Times New Roman;font-weight:bold;" 
                            class="form-control" name="katakana_questions_{{forloop.counter}}" value={{katakana}}>
                        </div>
                        <div class="col-sm">
                            <input type="text" name="reading_answer_{{forloop.counter}}" class="form-control">
                        </div>
                        <div class="col-sm">
                            <input type="text" name="meaning_answer_{{forloop.counter}}" class="form-control">
                        </div>
                    </div>
                {% endfor %}
                <div class="col-sm">
                    <button style="margin-top:4rem;" type="submit" class="btn btn-primary btn-sm">Submit Answers</button>
                </div>
            </div>
        </form> 
        <script>
        </script>
    </body>
</html>
{% endblock %}