{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kanji Definition</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!--
        <h1 style="font-family: monospace, Lucida Console;">Kanji Word Definitions</h1>
        {% for kanji in kanji_list %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{kanji.kanji_character}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{kanji.hiragana_character}}</h6>
                    <p class="card-text">Reading: {{kanji.reading}}</p>
                    <p class="card-text">Meaning: {{kanji.meaning}}</p>
                </div>
            </div>
        {% endfor %}
        -->
         <!-- Table for Kanji Definition -->
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Kanji</th>
                <th scope="col">Hiragana</th>
                <th scope="col">Reading</th>
                <th scope="col">Meaning</th>
              </tr>
            </thead>
            <tbody>
            <!-- Loop each data fetched from the database -->
            {% for kanji in kanji_list %}
              <tr>
                <th scope="row">{{kanji.id}}</th>
                <td>{{kanji.kanji_character}}</td>
                <td>{{kanji.hiragana_character}}</td>
                <td>{{kanji.reading}}</td>
                <td>{{kanji.meaning}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </body>
</html>
{% endblock %}
