{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kanji Quiz</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1 style="font-family: monospace, Monaco;padding:10px;">Quiz Results: </h1>
            <div style="margin-top:2rem;" class="container">
                <!--<div class="row">
                    <div class="col-sm ">
                        <h3>Total Score: {{total_score}}</h3>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-sm ">
                        <h4 style="font-size:20px;">Character: </h4>
                    </div>
                    <div class="col-sm">
                        <h4 style="font-size:20px;">Correct Reading:</h4>
                    </div>
                    <div class="col-sm">
                        <h4 style="font-size:20px;">Your Reading Answers:</h4>
                    </div>
                    <div class="col-sm">
                        <h4 style="font-size:20px;">Correct Meaning:</h4>
                    </div>
                    <div class="col-sm">
                        <h4 style="font-size:20px;">Your Meaning Answers:</h4>
                    </div>
                </div>

                {% for result in questionnaire_results %}
                <div style="margin-top:0.5rem;" class="row">
                    <div class="col-sm">
                        <input type="text" readonly style="font-family:Lucida Console, Times New Roman;font-weight:bold;" 
                        class="form-control" name="kanji_questions_1" value={{result.kanji_character}}>
                    </div>
                    <div class="col-sm">
                        <input type="text" readonly name="reading_result_1" class="form-control" value={{result.correct_reading_answer}}>
                    </div>
                    <div class="col-sm">
                        <input type="text" readonly name="reading_result_1" class="form-control" value={{result.reading_answer}}>
                        {% if result.reading_answer == result.correct_reading_answer %}
                            <span class="badge rounded-pill bg-success">Correct</span>
                        {% else %}
                            <span class="badge rounded-pill bg-danger">Incorrect</span>
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        <input type="text" readonly name="meaning_result_1" class="form-control" value={{result.correct_meaning_answer}}>
                    </div>
                    <div class="col-sm">
                        <input type="text" readonly name="meaning_result_1" class="form-control" value={{result.meaning_answer}}>
                        {% if result.meaning_answer == result.correct_meaning_answer %}
                            <span class="badge rounded-pill bg-success">Correct</span>
                        {% else %}
                            <span class="badge rounded-pill bg-danger">Incorrect</span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm ">
                    </div>
                </div>
                <div class="row" style="margin-bottom:4rem;">
                    <div class="col-sm">
                        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
                    </div>
                </div>
            </div>
    </body>
</html>
{% endblock %}